<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>
<div ng-repeat="toggle in toggles track by $index">
<paper-toggle-button ng-model="toggle.value"></paper-toggle-button>
<span class="toggleName">{{toggle.name}}</span>
</div>
<div class="row portfolio">
  <div class="flip-container col-sm-12 col-md-6 col-lg-6 col-xl-4" ng-repeat="project in data.projects | toggleFilter:toggles | orderBy: sortDate: true" ontouchstart="this.classList.toggle('hover');">
    <div class="flipper">
      <div class="front">
        <img class="img-thumbnail" ng-src="{{project.photoUrl}}">
        {{project.dateStart | date: shortdate}}
      </div>
      <div class="back">
        {{project.description}}
      </div>
    </div>
  </div>
</div>
